[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-cors = "*"
pyjwt = "*"
werkzeug = "==0.16.1"
python-dateutil = "*"
gunicorn = "*"
gevent = "*"
eventlet = "==0.31.0"
flask-socketio = "==5.0.0"
pandas = "*"
graphene = "==2.1.8"
flask-graphql = "*"
graphene-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
graphql-core = "==2.2.1"
flask-oauthlib = "*"
flask-restx = "*"
rq-dashboard = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
